.rowWhite:hover, .rowLightGrey:hover {
    background-color: darkgray;
    color: #FFF;
}

.rowLightGrey {
    background-color: lightgray;
    color: black;
    font-weight: normal;
}

.modal-body div:nth-child(odd) {
    position: relative;
    top: 6px;
    left: 20px;
}

section {
    padding-top: 56px;
}

#EmployePanel {
    margin: auto 0;
}

body {
    background-image: url("Img/retina_wood.png");
}

div.error {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    background-color: #F3E6E6;
    border: 2px solid #924949;
    text-align: center;
}

.btn {
    background-color: black;
    color: white;
}